/* Shared styles across all components */

:root {
  --main-text-color: black;
  --default-color: #2D2D2D;
  --default-white: #ececec;
  --accent-color: #3661ff;
  --light-accent: #839EFF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /* background-color: rgb(22, 22, 22); */
}

body, button {
  font-family: 'DotGothic16', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0.7em;
  text-shadow: white 1px 0 5px;
  transition: 200ms;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
  filter: contrast(0.7);
}

.grid {
  display: grid;
  grid-template-rows: auto;
  transition: 200ms;
}

.non-chorus {
  grid-template-columns: 5.5% auto 16.5%;
}

.chorus {
  grid-template-columns: 11% auto 11%;
}

.col1 {
  grid-column-start: 1;
}

.col2 {
  grid-column-start: 2;
}

.col3 {
  grid-column-start: 3;
}

.hidden {
  display: none !important;
}

.vertical-bar {
  height: 100%;
  background-color: var(--default-color);
}

.top-level {
  z-index: 1;
}

.bottom-level {
  z-index: -1;
}

.full-screen:not(#loading-overlay) {
  pointer-events: none;
}

#graphic-grid nav {
  pointer-events: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.graphic-box {
  border: var(--accent-color) 2px solid;
}

.window, .window-body, .window button {
  border-radius: 5px;
}

.window {
  background-color: var(--accent-color);
  border: var(--default-color) 3px solid;
  position: absolute;
}

.window-body {
  background-color: var(--default-white);
  margin: 3px;
  border: var(--default-color) 2px solid;
}

.window-body > p, #loading-overlay > .window button {
  margin: 10px;
}

.window button {
  background-color: var(--accent-color);
  border: var(--default-color) 2px solid;
  padding: 0;
}

#loading-overlay > .window button.play-btn {
  padding: 3px 20px;
}

.window-header {
  background-color: var(--accent-color);
  padding: 1px 0;
  text-align: left;
  position: relative;
}

.window-header:hover {
  cursor: move;
}

.window-header > button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  border: none;
}

.window-header > p, .window-header button {
  margin: 5px 10px;
  color: var(--default-white);
}
/* 
#miku-profile {
  width: 20vw;
  bottom: 50px;
  right: 10px;
  height: min-content;
}

#miku-profile img {
  width: 100%;
  object-fit: cover;
} */

#graphic-grid {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1em;
}

#graphic-grid > nav {
  grid-column: 4 / span 5;
  grid-row: 9 / span 1;
}

#graphic-grid > nav > button {
  background: none;
  padding: 0;
  border: none;
}

#graphic-grid > nav span {
  font-size: 2.1em;
}

#miku-scene {
  grid-column: 8 / span 5;
  grid-row: 3 / span 6;
  position: relative;
}

#wave-scene {
  grid-column: 4 / span 4;
  grid-row: 3 / span 2;
}

#text-box {
  grid-column: 4 / span 4;
  grid-row: 5 / span 4;
  position: relative;
  overflow: hidden;
}

#graphic-bottom-right {
  grid-column: 10 / span 3;
  grid-row: 9 / span 1;
  text-align: right;
}

#graphic-bottom-right p {
  margin: 0;
}

#bg-texture {
  /* filter: contrast(200%) brightness(150%); */
  background: radial-gradient(farthest-corner circle at 70% 80%, #FF00FF 5%, transparent 50%, transparent),
  radial-gradient(farthest-corner circle at 0px 0px, #00FFFF 10%, transparent 46%, transparent),
  radial-gradient(farthest-corner circle at 30% 100%, #FFFF00 10%, transparent 80%, transparent),
  radial-gradient(farthest-corner circle at 100% 0px, #28FFFF 10%, transparent 50%, transparent),
  radial-gradient(farthest-corner circle at 100% 100%, #28ff7a 5%, transparent 70%, transparent);
  background-size: 115% 115%;
}