/* Shared styles across all components */

:root {
  --main-text-color: black;
  --default-color: #2D2D2D;
  --accent-color: #3661ff;
}

body {
  margin: 0;
  font-family: 'DotGothic16', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0.7em;
}

button:hover {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 5.5% auto 11%;
}

.col1 {
  grid-column-start: 1;
}

.col3 {
  grid-column-start: 3;
}

.hidden {
  display: none !important;
}

.vertical-bar {
  height: 100%;
  background-color: var(--default-color);
}

.top-level {
  z-index: 1;
}

.bottom-level {
  z-index: -1;
}

.full-screen:not(#loading) {
  pointer-events: none;
}

#beat-reactor {
  background-color: var(--accent-color);
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100px;
  transition: 100ms;
}