/* Shared styles across all components */

:root {
  --main-text-color: black;
  --default-color: #2D2D2D;
  --default-white: #ececec;
  --accent-color: #3661ff;
  --light-accent: #839EFF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body, button {
  font-family: 'DotGothic16', sans-serif;
}

button {
  padding: 0.7em;
  transition: 200ms;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
  filter: contrast(0.6);
}

.last-col {
  grid-column-start: 21;
}

.hidden {
  display: none !important;
}

.vertical-bar {
  height: 100%;
  grid-row: 1 / span 16;
  background-color: var(--default-color);
}

.top-level {
  z-index: 1;
}

.bottom-level {
  z-index: -1;
}

.full-screen:not(#loading-overlay) {
  pointer-events: none;
}

#graphic-grid nav {
  pointer-events: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.hidden-visibility {
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.graphic-box {
  border: var(--accent-color) 3px solid;
  box-shadow: var(--accent-color) 1px 1px 5px;
}

.window, .window-body, .window button {
  border-radius: 5px;
}

.window, .window button, .window-header {
  background-color: var(--accent-color);
}

.window {
  border: var(--default-color) 3px solid;
  position: absolute;
}

.window-body {
  background-color: var(--default-white);
  margin: 3px;
  border: var(--default-color) 2px solid;
}

.window-body > p, #loading-overlay > .window button {
  margin: 10px;
}

.window button {
  border: var(--default-color) 2px solid;
  padding: 3px 20px;
  color: var(--default-white);
}

.window button:disabled {
  padding: 0;
}

.window-header {
  padding: 1px 0;
  text-align: left;
  position: relative;
}

.window-header:hover {
  cursor: move;
}

.window-header > button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  border: none;
}

.window-header > p, .window-header button {
  margin: 5px 10px;
  color: var(--default-white);
}

.grid {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 0.6em;
  transition: 200ms;
}

#graphic-grid > nav {
  grid-column: 4 / span 1;
  grid-row: 5 / span 6;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}

#graphic-grid > nav > button {
  background: none;
  padding: 0;
  border: none;
}

#graphic-grid > nav span {
  font-size: 2.5em;
  color: var(--accent-color);
  -webkit-text-stroke: var(--default-white) 0.8px;
  text-shadow: 0px 0px 5px var(--default-white);
}

#graphic-grid > nav input {
  transform: rotate(-90deg);
  transform-origin: left;
  width: min(20vh, 130px);
  position: absolute;
  left: 40%;
  bottom: 0;
}

#graphic-grid > nav #slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  position: relative;
  margin: 0 0.2em;
  overflow-y: hidden;
}

#miku-scene {
  grid-column: 8 / span 7;
  grid-row: 5 / span 8;
  position: relative;
}

#scene-1 {
  grid-column: 5 / span 3;
  grid-row: 5 / span 5;
}

#scene-2 {
  grid-column: 15 / span 3;
  grid-row: 8 / span 5;
  position: relative;
}

#top-text, #bottom-text {
  position: relative;
}

#top-text {
  grid-column: 1 / span 21;
  grid-row: 3 / span 2;
  /* transform: translateY(25px); */
  text-align: center;
}

#bottom-text {
  grid-column: 1 / span 21;
  grid-row: 13 / span 2;
  /* transform: translateY(-50px); */
  text-align: center;
}

#metadata-box {
  grid-column: 15 / span 3;
  grid-row: 7 / span 1;
  display: flex;
  flex-direction: row;
}

#metadata-box div:first-child {
  border-right: var(--accent-color) 3px solid;  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#metadata-box div:nth-child(2) {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 5px;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#metadata-box p {
  font-size: 0.7em;
  color: var(--accent-color);
  margin: 0;
}

.bg-texture {
  transition: 200ms;
}

.static {
  background-size: 125% 125%;
  filter: contrast(70%) brightness(300%);
  background:
  linear-gradient(0deg, rgba(0,0,255,1), rgba(0,0,0,0)),
  url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.86' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.rainbow {
  mix-blend-mode: multiply;
  opacity: 80%;
  background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #FF00C7 100%), 
  linear-gradient(121.28deg, #213100 0%, #FF0000 100%), 
  linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), 
  linear-gradient(114.9deg, #00C6A2 0%, #6A45A8 100%), 
  radial-gradient(100% 148.07% at 0% 0%, #FFFFFF 0%, #1DCD00 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  background-size: 125% 125%;
  filter: brightness(130%);
}