/* Styles for the lyrics */

.full-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.active-word {
  background-color: var(--accent-color);
}

.lyric {
  color: var(--default-white);
  line-height: 1.5em;
  white-space: nowrap;
  font-size: 2vw;
  transition: 300ms;
  margin: 0;
}

/* highlighted text styling from: https://codepen.io/matthiasott/pen/aQxBOB */
.highlighted {
  position: relative;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

.highlighted span {
  color: #fff;
  background-color: var(--default-color);

  padding: 0.225rem 0;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.highlighted span:first-child {
  padding: 0.225rem 0 0.225rem 0.5rem;
}

.highlighted span:last-child {
  padding: 0.225rem 0.5rem 0.225rem 0;
}

@supports(mix-blend-mode: lighten) {
  
  .highlighted::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    mix-blend-mode: lighten;
  }
  
}

@keyframes reveal-to-right {
  from {
    max-width: 0%;
  }

  to {
    max-width: 100%;
  }
}

.blinking {
  animation: blink-animation 1.5s steps(7, start) infinite;

}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.bounce-in {
  animation-name: bounce-in-up;
  animation-duration: 300ms;
}

/* https://github.com/animate-css/animate.css/blob/main/animate.css */
@keyframes bounce-in-up {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 100px, 0) scaleY(5) translateX(-18vw);
  }

  60% {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9) translateX(-18vw);
  }

  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95) translateX(-18vw);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985) translateX(-18vw);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) translateX(-18vw);
  }
}

#text-animation-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40vh;
  align-items: start;
  left: calc(11% - 30px);
}

#loading-overlay {
  background-color: rgba(20, 20, 20, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#media {
  right: 0;
  bottom: 0;
  position: absolute;
}

#current-container {
  /* animation-name: reveal-to-right;
  animation-duration: 1000ms; */
}

#current-container.highlighted span {
  /* background: linear-gradient(60deg, #3629a2, #00ceff); */
  background-color: var(--accent-color);
}

#speech-bubble {
  background-color: var(--light-accent);
  width: min-content;
  border-radius: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  position: absolute;
  top: 10vw;
  box-shadow: 5px 5px black;
  font-size: 1.5vw;
  transform-origin: right;
  transform: translateX(-18vw);
  right: 0;
}

#speech-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 24px solid var(--light-accent);
  border-left: 12px solid transparent;
  border-top: 5px solid var(--light-accent);
  border-bottom: 20px solid transparent;
  right: 12px;
  bottom: -24px;
  box-shadow: 10px 0px 0px -2px black;
}



