/* Styles for the lyrics */

footer {
  left: 0 ;
}

.full-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.active-word {
  background-color: var(--accent-color);
}

/* Inspiration of text styling from: https://codepen.io/matthiasott/pen/aQxBOB */
.lyric {
  position: relative;
  margin: 0;
  background-color: #fff;
  text-align: center;
  line-height: 1.5em;
  overflow:hidden;
  transition: 300ms;
  white-space: nowrap;
  font-size: 2vw;
}
  
.lyric span {
  color: #fff;
  background-color: var(--default-color);

  padding: 0.225rem 0;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.lyric span:first-child {
  padding: 0.225rem 0 0.225rem 0.5rem;
}

.lyric span:last-child {
  padding: 0.225rem 0.5rem 0.225rem 0;
}

@supports(mix-blend-mode: lighten) {
  
  .lyric::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    mix-blend-mode: lighten;
  }
  
}

@keyframes reveal-to-right {
  from {
    max-width: 0%;
  }

  to {
    max-width: 100%;
  }
}

#text-animation-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40vh;
  align-items: start;
  left: calc(11% - 30px);
}

#loading {
  background-color: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.2px);
} */

/* #text1,
#text2 {
  font-family: 'DotGothic16', sans-serif;
  position: absolute;
  width: 100%;
  display: inline-block;
  font-size: 5vw;

  text-align: center;

  user-select: none;
} */

/* #text1 {
  color: var(--main-text-color);
}

#text2 {
  color: orange;
} */

#media, footer {
  position: absolute;
  bottom: 0;
}

#media {
  right: 0;
}

#current-container {
  animation-name: reveal-to-right;
  animation-duration: 1000ms;
}

#current-container span {
  /* background: linear-gradient(60deg, #3629a2, #00ceff); */
  background-color: var(--accent-color);
}


